$color: #334669;
$active-color: linear-gradient(298.32deg, rgba(205, 138, 154, 0.8) 4.3%, rgba(254, 170, 160, 0.8) 118.21%);
$background-main-color: #DCE2E8;
$container-background-color: #E4F0FA;
$hover-background-color: #cadcef;

$default-margin: 20px;

$container-border-radius: 30px;
$image-border-radius: 25px;

$container-box-shadow: 50px 80px 80px rgba(0, 0, 0, 0.18);
$image-box-shadow: -5px -5px 14px rgba(255, 255, 255, 0.0155704), -9px -5px 14px rgba(246, 251, 255, 0.741505), -6px -19px 21px rgba(244, 248, 251, 0.345662), 1px 6px 15px rgba(45, 55, 71, 0.285457);
