.info-window {
  display: flex;
  flex-wrap: wrap;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    margin-right: 20px;
    width: 200px;
    height: 150px;

    img {
      width: inherit;
    }
  }

  &__description {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    margin-top: 20px;
    text-align: justify;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
