@import '../../../styles/mixin.scss';

@import '../../../styles/variables.scss';

.tabs {
  width: 100%;

  @include flex(row);

  &__tab {
    flex: 1 1 16%;
    height: 50px;
    font-size: 0.8rem;
    background-color: $hover-background-color;

    &:not(:last-child) {
      border-right: 1px solid $container-background-color;
    }
  }
}

.tab--actived {
  background: $active-color;
}
