@import '../../styles/mixin.scss';

@import '../../styles/variables.scss';

$padding: $default-margin;

.app-header {
  flex-wrap: wrap;

  @include flex(row, space-between, center);

  &__title {
    padding-left: $padding;
  }
  
  &__score {
    padding-right: $padding;
  }

  .tabs {
    margin-top: $default-margin;
  }
}
